extends layout

block content
    ul 
        li= Nomdelartiste : #{artistName}
        li= Lieu :#{lieuConcert}
        li= Date :#{dateConcert}
        li= Places :#{nbPlaces}
        li= Style :#{styleConcert}